
<link rel="import" href="polymer/polymer.html">

<dom-module id="vacuum-sparkline">
  <template>
      <svg on-click="rescale" >
            <polyline id="line" fill="none" points=""/> 
            <rect id="yaxes" x="0" y="0" stroke-width="1" fill="grey"/>
            <rect id="yaxes_mark" x="0" y="0" stroke-width="1" fill="grey"/>
            <text id="fs_label" x="0" y="" transform="scale(0.8, 0.8)" fill="grey" style="font-weight:bold;"></text>
            <text id="zero_label" x="0" y="" transform="scale(0.8, 0.8)" fill="grey" style="font-weight:bold;"></text>
            <text id="name" x="0" y="15" transform="scale(0.8, 0.8)" fill="grey" style="font-weight:bold;"></text>
       </svg>
  </template>
</dom-module>

<script>
Polymer({

    is: "vacuum-sparkline",

    properties: {
      name: { type: String, },
      width: { type: Number, },
      height: { type: Number, },
      fullscale: { type: Number, },
      linecolor: { type: String, },
      linethickness: { type: Number, value: "1" },
      data: { type: Array, }, // this is the data displayed by the plot
      dmin: { type: Number, }, // holds minimum of the data
      dmax: { type: Number, }, // is maximum of the data
      slope: { type: Number, }, // y_display = y_data * slope + intercept
      intercept: {type: Number, }, // transform data to what is to be put of svg rectangular plot area.
      svghandle: { type: Object, },
      linehandle: { type: Object, }, 
      testidx: { type: Number, value: 1},
      },

    // Element Lifecycle
    ready: function() {
        this.svghandle = this.$$("svg");
        this.offset = 0;
        this.svghandle.setAttribute("height", this.height+this.offset);
        this.svghandle.setAttribute("width", this.width);
        this.$.name.textContent = this.name;
        this.$.name.setAttribute("x", this.width/2);
        this.$.fs_label.setAttribute("y", 12); //this sets the position of the axis upper label.
        this.$.fs_label.textContent = this.fullscale;
        this.$.zero_label.setAttribute("y", this.height+12);
        this.$.zero_label.textContent = 0.0;
        this.$.yaxes.setAttribute("height", this.height);
        this.$.yaxes.setAttribute("width", 1);
        this.$.yaxes_mark.setAttribute("height", 1);
        this.$.yaxes_mark.setAttribute("width", 10);

        this.linehandle = this.$.line; 
        this.linehandle.setAttribute("stroke", this.linecolor);
        this.linehandle.setAttribute("stroke-width", this.linethickness);

        var point;
        this.data = [];
        this.dmin = 0.0;
        this.dmax = 0.0;
        this.slope = this.height/this.fullscale; this.intercept = 0;
        for (var i=0; i<this.width; i++) {
            this.data.push(0);
            point = this.svghandle.createSVGPoint();
            point.x = i; point.y = this.map_y(0);
            this.linehandle.points.appendItem(point);
        }
    },
    test: function() { //put on-click="test" in svg element above to use this.
        for (var i=0; i < this.width; i++ ) {
        this.push_data(Math.random()*this.fullscale/this.testidx); }
        this.rescale();
        this.testidx = this.testidx + 1;
    },
    rescale: function() {
        this.dmax = Math.max(...this.data);
        this.dmin = Math.min(...this.data);
        if (Math.abs(this.dmax-this.dmin)<0.001) { return; }
        this.slope = this.height/(this.dmax - this.dmin);
        this.intercept = -this.slope*this.dmin;
        this.$.fs_label.textContent = this.dmax.toPrecision(4);
        this.$.zero_label.textContent = this.dmin.toPrecision(4);
        var p;
        for (var i=0; i<this.width; i++) {
            p = this.linehandle.points.getItem(i);
            p.y = this.map_y(this.data[i]);
        }
    },
    push_data: function (y) {
        // add this y value to the end of data to be plotted.
        this.data.shift(); this.data.push(y);

        var p1, p2;
        for(var i=0; i<this.width-1; i++) {
            p1 = this.linehandle.points.getItem(i);
            p2 = this.linehandle.points.getItem(i+1);
            p1.y = p2.y;
        }
        p2.y = this.map_y(y);

        //var point = this.svghandle.createSVGPoint();
        //point.x = i; point.y = this.map_y(y);
        //this.linehandle.points.replaceItem(point, i);
    },
    map_y: function (y) { return this.height - (this.slope*y + this.intercept); },
    
});

</script>
