<link rel="import" href="polymer/polymer.html">
<link rel="import" href="vacuum-sparkline.html">

<!-- GUI for the MFCs -->
<dom-module id="vacuum-mfc-element">
<template>
    <input id="mfc_set_flow" type="number" on-change="handleChange" min="0.0" max="100.0" step="0.1" value="0.0" style="width:50px"/>
    <label id="mfc_curr_flow" style="color:black" width="20px">0.0</label>
    <br>
    <vacuum-sparkline id="mfc_sparkline" name="{{name}}" height="50" width="100" linecolor="{{gascolor}}" fullscale="{{fs_range}}"></vacuum-sparkline> 
</template>
</dom-module>

<script> 

  Polymer({

    is: "vacuum-mfc-element",

    properties: {
      name: { type: String, },
      gascolor: { type: String, },
      fs_range: { type: Number, },
      set_flow: { type: Number, },
      curr_flow: { type: Number, notify: true, },
      history_length: {type: Number, value: 100 },
      prev_flows: { type: Array, value:function() { return []; }},
      svghandle: { type: Object, value: function () { return null; }, },
      },

    ready: function() {
        this.$.mfc_set_flow.max = this.fs_range; 
        this.$.mfc_set_flow.step = 0.001*this.fs_range;
        this.$.mfc_set_flow.value = this.curr_flow; 
    },

    attached: function() {}, detached: function() {},
    handleChange: function () { 
        this.set_flow = this.$.mfc_set_flow.value;
        SendCmds([[this.name, 'set_flow', [this.set_flow]]]); 
        //this.render_histline();
    },
    test: function() { //put on-click="test" in svg element above to use this.
        var x = Math.random()*this.fs_range;
        this.curr_flow = x; this.$.mfc_curr_flow.innerHTML = x;
            this.$.mfc_sparkline.push_data(x);
    },
    changeDisplay: function(cmdname, args) {
        if (args[0] != 0) { console.log('Error: '+args[1]); }
        else if (cmdname=='get_flow') {
            this.curr_flow = parseFloat(args[1][0]).toPrecision(4); this.$.mfc_curr_flow.innerHTML = this.curr_flow;
            this.$.mfc_sparkline.push_data(this.curr_flow);
        }
        else if (cmdname=='set_flow') { 
            this.set_flow = args[1][0]; 
            this.$.mfc_set_flow.value = this.set_flow;
        }
        else if (cmdname=='get_fsrange') { 
            this.fs_range = parseFloat(args[1]); 
            this.$.mfc_name.textcontent = this.name + ", "  + this.fs_range + " sccm"; 
            this.$.mfc_curr_flow.max = this.fs_range; 
        }
    },

  });

</script>
