

<link rel="import" href="polymer/polymer.html">
<!-- x = &#x2716, -> = &#21e8, => &#27A1, /^ = &#2b08 -->
<!-- GUI for the MFCs -->
<dom-module id="vacuum-cmdmanager-element">
  <template>
    <table>
    <tr>
        <td>
            <input type="file" id="tobeexecload" on-change="readFile" name="tobeexec-load" enctype="multipart/form-data" />
            <button id="tobeexec_step" on-click="step_exec">Step</button>
            <button id="tobeexec_run" on-click="step_run">Run</button>
            <button id="tobeexec_stop" on-click="step_stop">Abort</button>
        </td>
        <td>
            <button id="executed_save" on-click="saveScript">Save</button>
            <button id="executed_reset" on-click="clearExecArea">Clear</button>
        </td>
    </tr>
    <tr>
        <td> Commands to be executed:<br>
            <textarea id="tobeexec" rows="20" cols="50" wrap="physical"></textarea></td>
        <td> Executed commands:<br>
            <textarea disabled id="executed" rows="20" cols="50" wrap="physical"></textarea></td>
    </tr>
    </table>
  </template>
</dom-module>

<script> 
  Polymer({

    is: "vacuum-cmdmanager-element",

    properties: {
      name: { type: String, },
      exec_stepnum: { type: Number, },
      exec_timer: { type: Array, },
    },

    // Element Lifecycle
    ready: function() {
        this.name = "controller";
        this.$.executed.scrollTop = this.$.executed.scrollHeight;
    },

    attached: function() {}, detached: function() {},
    //button saves this list to a file.
    saveScript: function (e) {
        var cmdText = this.$.executed.value;
        cmd = [[this.name, 'savescript', [cmdText]]];
        SendCmds_wo_recording(cmd);
    },
    //append the cmds from cmdlist to "executed" text area.
    appendCmds: function(cmdlist) {
        var cmd;
        var d = new Date();
        var now = d.getTime();
        //var cache = new DocumentFragment();
        for (var i=0; i<cmdlist.length; i++) {
            args = cmdlist[i][2].join(' ');
            cmd = (now+i) + ' ' + cmdlist[i][0] + ' ' + cmdlist[i][1] + ' ' + args + '\n';
            this.$.executed.value += cmd;
        }
    },
    clearExecArea: function() {
        this.$.executed.value = '';
    },
    //returns the line under cursor in textarea "tobeexecuted"
    get_cursor_line: function() {
        var handle = this.$.tobeexec;
        if (handle.selectionStart != undefined) {
            var startpos = handle.selectionStart;
            var s = handle.value;
            var i1, i2;
            for(i1=startpos; i1>0; i1--) { if (s[i1]=='\n') { break;} }
            for(i2=startpos; i2<s.length; i2++) { if (s[i2]=='\n') { break;} }
            var line = handle.value.substring(i1, i2).trim();
            return [line, i1, i2];
        }
        return ["", 0, 0];
    },
    //parses a cmdline to a list which can be sent for execution.
    make_cmd: function(line) {
        var parts = line.split(' ');
        return [[[parts[1], parts[2], parts.slice(3)]], parseInt(parts[0])];
    },
    //immediately executes one line under the cursor from textarea "tobeexecuted"
    step_exec: function() {
        var r = this.get_cursor_line();
        var line = r[0];
        var i1 = r[1];
        var i2 = r[2];
        if (!(line=="" || line[0]=='#')) {
            r = this.make_cmd(line);
            var c = r[0];
            var t = r[1];
            SendCmds(c); 
        }
        this.$.tobeexec.selectionStart = i2+1;
        this.$.tobeexec.selectionEnd = i2+1;
    },
    /* "tobeexec" textarea lines are read from the start, make into
       commands and scheduled to be executed at the time denoted (by use
       of setTimer). The handles returned by setTimer call are stored in
       exec_timer list, which is used to cancel those call in case "abort"
       button is pressed. 
       run and step buttons are disabled during this time.
       */
    //runs all the commands in textarea "tobeexecuted". parses cmds from
    //each line and sets a timer for it to be executed. these timer are
    //stored in exec_timer list (in case we want to cancel them later).
    step_run: function() {
        this.exec_stepnum = 0;
        this.exec_timer = [];
        //disable "run" and "step" button.
        this.$.tobeexec_run.disabled = true;
        this.$.tobeexec_step.disabled = true;
        this.$.tobeexec.value = this.$.tobeexec.value.trim();
        this.$.tobeexec.selectionStart = 0;
        this.$.tobeexec.selectionEnd = 0;
        var func = function(c) { return function() { SendCmds(c); }; };
        var r, line, i1, i2, waittime, c, t;
        while (true) {
            r = this.get_cursor_line();
            line = r[0];
            i1 = r[1];
            i2 = r[2];
            if(!(line=='' || line[0]=='#')) {
                r = this.make_cmd(line);
                c = r[0]; t = r[1];
                this.exec_timer[this.exec_timer.length] = setTimeout( func(c), t);
                waittime = t;
                this.exec_stepnum += 1;
            }
            if(this.$.tobeexec.value.length==i2){ break;}
            this.$.tobeexec.selectionStart = i2+1;
            this.$.tobeexec.selectionEnd = i2+1;
        }
        //after script is finished enable "step" and "run" buttons.
        var reset = function(handle) { return function() { 
            handle.tobeexec_run.disabled = false;
            handle.tobeexec_step.disabled = false; } };
        this.exec_timer[this.exec_timer.length] = setTimeout( reset(this.$), waittime+100);
    },
    //clear all the timer in exec_timer to abort scheduled commands (see step_run).
    step_stop: function() {
        for(var i=0; i<this.exec_timer.length; i++) { clearTimeout(this.exec_timer[i]); }
        exec_timer = [];
        exec_stepnum = 0;
        this.$.tobeexec_run.disabled = false;
        this.$.tobeexec_step.disabled = false;
    },
    //load a file containing script into textarea "tobeexecuted"
    readFile: function() {
        var file = this.$.tobeexecload.files[0];
        var reader = new FileReader();
        reader.onload = (function(tgt) { return function(e) { tgt.value = e.target.result; }; }) (this.$.tobeexec);
        reader.readAsText(file);
    },
    changeDisplay: function(cmdname, args) {
        if(cmdname=='savescript') { window.open(args[1]); }
    },

  });
</script>
