

<link rel="import" href="polymer/polymer.html">
<!-- x = &#x2716, -> = &#21e8, => &#27A1, /^ = &#2b08 -->
<!-- GUI for the MFCs -->
<dom-module id="vacuum-logmanager-element">
  <template>
      <span>
        <input placeholder="Log file name" id="filename" type="text" size="30" value=""/>
        <input placeholder="Run details" id="details" type="text" size="60" value=""/>
        <button id="uselogfile" on-click="handleClick" value=0>Start Logging</button>
        <a href="./logs/" target="_blank">View Logs</a><br>
    </span>
  </template>
</dom-module>

<script> 
  Polymer({

    is: "vacuum-logmanager-element",

    properties: {
      name: { type: String, },
      logfilename: { type: String, },
      logstate : { type: Number, },
      rundetails: { type: String, },
    },

    ready: function() {
        this.name = 'controller';
    },

    attached: function() {}, detached: function() {},
    handleClick: function () {
        if (this.$.uselogfile.value==0) {
            if(this.$.filename.value=="") { alert("Please specify a file name to log to."); return; }
            this.logstate = 1;
            this.logfilename = this.$.filename.value;
            this.rundetails = this.$.details.value;
            SendCmds([[this.name, "startlog", [this.logfilename, this.rundetails]]]); 
        } else if (this.$.uselogfile.value==1) {
            this.logstate = 0;
            SendCmds([[this.name, "stoplog", [this.logfilename, this.rundetails]]]); 
        }
    },
    changeDisplay: function(cmdname, args) { // this is fired by polymer when this.state is set in main code.
        if (args[0] != 0) { console.log('Error'+ args[1]); }
        else if (cmdname=='startlog') { this.$.uselogfile.innerHTML = 'Stop logging'; this.$.uselogfile.value = 1;}
        else if (cmdname=='stoplog') { this.$.uselogfile.innerHTML = 'Start logging'; this.$.uselogfile.value = 0;}
    },
  });
</script>
